API_URL=https://example.com/api
MONGO_DB_URL=mongodb+srv://<username>:<password>@<cluster>/<db-name>
EMAIL_PASSWORD=<app-password>
ACCESS_KEY_ID=<aws-access-key-id>
SECRET_ACCESS_KEY=<aws-secret-access-key>

